## First Program WOW :)

In [3]:
print("I love ML")

I love ML

## Variables

In [5]:
print("Welcome to AI Course Level-1")

Welcome to AI Course Level-1

In [6]:
# Write a code to say "Welcome to AI Course Level-1" to the user with his name
name = input("Enter your name: ")
print("Welcome to AI Course Level-1", name)

Welcome to AI Course Level-1 Mohamed

In [10]:
x = 10
print(x)

x = 20
print(x)

y = x
print(y)

10
20
20

In [ ]:
# Data Types 

# Integer
age = 25

# Float
height = 5.9

# String
name = "Alice"

# Boolean
is_student = True

print(age, height, name, is_student)

25 5.9 Alice True

In [13]:
a, b, c = 1, 2, 3
print(a, b, c)

1 2 3

In [3]:
counter = 0
print("Initial counter value:", counter)

counter = counter + 1
print("Counter after increment:", counter)

counter += 1
print("Counter after another increment:", counter)

Initial counter value: 0
Counter after increment: 1
Counter after another increment: 2

In [16]:
# Swapping
x = 5
y = 10

# I want to swap between variables so y = 5 and x = 10
temp = y
y = x
x = temp
print(x,y)

10 5

In [17]:
x = 5
y = 10

print("Before swapping: x =", x, "y =", y)

# Swapping
x, y = y, x

print("After swapping: x =", x, "y =", y)

Before swapping: x = 5 y = 10
After swapping: x = 10 y = 5

## Lists

In [18]:
# List of integers
numbers = [1, 2, 3, 4, 5]

# List of strings
fruits = ["apple", "banana", "cherry"]

# Mixed data types
mixed_list = [1, "apple", 3.14, True]

print(numbers)
print(fruits)
print(mixed_list)

[1, 2, 3, 4, 5]
['apple', 'banana', 'cherry']
[1, 'apple', 3.14, True]

In [24]:
fruits = ["apple", "banana", "cherry", "Watermelon", "blueberry"]

# Accessing the first element
print(fruits[0])

# Accessing the last element
print(fruits[-1])

# Slicing the list
print(fruits[1:3])

apple
blueberry
['banana', 'cherry']

In [27]:
fruits = ["apple", "banana", "cherry"]

# Changing an element
fruits[1] = "blueberry"
print(fruits)

# Adding an element to the end
fruits.append("orange")
print(fruits)

# Inserting an element at a specific position
fruits.insert(1, "mango")
print(fruits)

# Removing an element by value
fruits.remove("blueberry")
print(fruits)

# Removing an element by index
fruits.pop(2)
print(fruits)

['apple', 'blueberry', 'cherry']
['apple', 'blueberry', 'cherry', 'orange']
['apple', 'mango', 'blueberry', 'cherry', 'orange']
['apple', 'mango', 'cherry', 'orange']
['apple', 'mango', 'orange']

In [30]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

# Concatenation
combined_list = list1 + list2
print(combined_list)

# Repetition
repeated_list = list1 * 3
print(repeated_list)

# Length of the list
print(len(combined_list))

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]
6

In [31]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5]

# Sorting the list
numbers.sort()
print("Sorted list:", numbers)

# Reversing the list
numbers.reverse()
print("Reversed list:", numbers)

Sorted list: [1, 1, 2, 3, 4, 5, 5, 6, 9]
Reversed list: [9, 6, 5, 5, 4, 3, 2, 1, 1]

In [32]:
original_list = [1, 2, 3]

# Shallow copy
copied_list = original_list.copy()
print("Copied list:", copied_list)

# Modifying the copied list
copied_list.append(4)
print("Original list:", original_list)
print("Copied list after modification:", copied_list)

Copied list: [1, 2, 3]
Original list: [1, 2, 3]
Copied list after modification: [1, 2, 3, 4]

In [142]:
# List Comprehensions

# Squares of numbers from 0 to 9
squares = [x**2 for x in range(10)]
print(squares)

# Even numbers from 0 to 9
evens = [x for x in range(10) if x % 2 == 0]
print(evens)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 2, 4, 6, 8]

In [33]:
# List of lists
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Accessing elements in a nested list
print("Element at row 2, column 3:", matrix[1][2])

Element at row 2, column 3: 6

In [34]:
import numpy as np   # Numerical Python 

# Converting a list to a NumPy array
data = [1, 2, 3, 4, 5]
array = np.array(data)

print("NumPy array:", array)
print("Mean of the array:", np.mean(array))

NumPy array: [1 2 3 4 5]
Mean of the array: 3.0

## Sets

In [50]:
# Creating a set
unique_numbers = {1, 2, 3, 4, 5, 5, 4}
print("Set with unique elements:", unique_numbers)

# Creating a set from a list
fruits = ["apple", "banana", "cherry", "banana"]
unique_fruits = set(fruits)
list_fruits = list(unique_fruits)
print("Set from a list:", unique_fruits)
print("List from a set:", list_fruits)

Set with unique elements: {1, 2, 3, 4, 5}
Set from a list: {'cherry', 'apple', 'banana'}
List from a set: ['cherry', 'apple', 'banana']

In [41]:
# Adding elements
unique_numbers = {1, 2, 3}
unique_numbers.add(4)
print("After adding 4:", unique_numbers)

# Adding multiple elements
unique_numbers.update([5, 6, 7])
print("After updating with multiple elements:", unique_numbers)

# Removing an element
unique_numbers.remove(3)  # Raises an error if the element doesn't exist
print("After removing 3:", unique_numbers)

# Discarding an element (no error if the element doesn't exist)
unique_numbers.discard(10)
print("After discarding 10:", unique_numbers)

After adding 4: {1, 2, 3, 4}
After updating with multiple elements: {1, 2, 3, 4, 5, 6, 7}
After removing 3: {1, 2, 4, 5, 6, 7}
After discarding 10: {1, 2, 4, 5, 6, 7}

In [42]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}

# Union (all elements from both sets)
union_set = set1.union(set2)
print("Union of set1 and set2:", union_set)

# Intersection (common elements)
intersection_set = set1.intersection(set2)
print("Intersection of set1 and set2:", intersection_set)

# Difference (elements in set1 but not in set2)
difference_set = set1.difference(set2)
print("Difference of set1 and set2:", difference_set)

# Symmetric Difference (elements in either set but not in both)
symmetric_difference_set = set1.symmetric_difference(set2)
print("Symmetric difference of set1 and set2:", symmetric_difference_set)

Union of set1 and set2: {1, 2, 3, 4, 5, 6}
Intersection of set1 and set2: {3, 4}
Difference of set1 and set2: {1, 2}
Symmetric difference of set1 and set2: {1, 2, 5, 6}

In [45]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Check if set1 is a subset of set2
print("Is set1 a subset of set2?", set1.issubset(set2))

# Check if set2 is a superset of set1
print("Is set2 a superset of set1?", set2.issuperset(set1))

Is set1 a subset of set2? True
Is set2 a superset of set1? True

In [46]:
unique_numbers = {1, 2, 3, 4, 5}
unique_numbers.clear()
print("Set after clearing:", unique_numbers)

Set after clearing: set()

In [51]:
frozen_set = frozenset([1, 2, 3, 4])
print("Frozen set:", frozen_set)

# Trying to add an element (will raise an error)
# frozen_set.add(5)  # This will raise an AttributeError

Frozen set: frozenset({1, 2, 3, 4})

## Tuples

In [54]:
# Creating a tuple
coordinates = (10, 20)
print("Coordinates:", coordinates)

# Creating a tuple without parentheses
fruits = "apple", "banana", "cherry"
print("Fruits:", fruits)

# Single-element tuple (note the trailing comma)
single_element = (42,)
print("Single-element tuple:", single_element)

Coordinates: (10, 20)
Fruits: ('apple', 'banana', 'cherry')
Single-element tuple: (42,)

In [62]:
fruits = ("apple", "banana", "cherry")

# Accessing the first element
print("First fruit:", fruits[0])

# Accessing the last element
print("Last fruit:", fruits[-1])

# Slicing the tuple
print("First two fruits:", fruits[:2])

First fruit: apple
Last fruit: cherry
First two fruits: ('apple', 'banana')

In [64]:
fruits = ("apple", "banana", "cherry")

# Trying to change an element (will raise an error)
# fruits[1] = "blueberry"  # This will raise a TypeError

In [66]:
# Packing
person = ("Alice", 25, "Engineer")
print("Packed tuple:", person)

# Unpacking
name, age, profession = person
print("Unpacked values:", name, age, profession)

Packed tuple: ('Alice', 25, 'Engineer')
Unpacked values: Alice 25 Engineer

In [67]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

combined_tuple = tuple1 + tuple2
print("Combined tuple:", combined_tuple)

Combined tuple: (1, 2, 3, 4, 5, 6)

In [68]:
repeated_tuple = (1, 2) * 3
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 1, 2, 1, 2)

In [72]:
fruits = ("apple", "banana", "cherry")

print("Is 'banana' in the tuple?", "banana" in fruits)
print("Is 'mango' in the tuple?", "mango" in fruits)

Is 'banana' in the tuple? True
Is 'mango' in the tuple? False

In [78]:
fruits = ("apple", "banana", "cherry")
print("Number of fruits:", len(fruits))

Number of fruits: 3

In [79]:
nested_tuple = ((1, 2), (3, 4), (5, 6))
print("Nested tuple:", nested_tuple)

# Accessing elements in a nested tuple
print("Element at row 2, column 1:", nested_tuple[1][0])

Nested tuple: ((1, 2), (3, 4), (5, 6))
Element at row 2, column 1: 3

In [80]:
# Tuple to list
fruits_tuple = ("apple", "banana", "cherry")
fruits_list = list(fruits_tuple)
print("Converted to list:", fruits_list)

# List to tuple
numbers_list = [1, 2, 3, 4]
numbers_tuple = tuple(numbers_list)
print("Converted to tuple:", numbers_tuple)

Converted to list: ['apple', 'banana', 'cherry']
Converted to tuple: (1, 2, 3, 4)

In [81]:
numbers = (1, 2, 3, 2, 4, 2)

# Count occurrences of an element
print("Number of 2s:", numbers.count(2))

# Find the index of an element
print("Index of 3:", numbers.index(3))

Number of 2s: 3
Index of 3: 2

In [82]:
# Dictionary with tuple keys
location_map = {
    (35.6895, 139.6917): "Tokyo",
    (40.7128, -74.0060): "New York"
}

print("Location of (35.6895, 139.6917):", location_map[(35.6895, 139.6917)])

Location of (35.6895, 139.6917): Tokyo

## Dictionaries

In [83]:
# Creating a dictionary
person = {"name": "Alice", "age": 25, "profession": "Engineer"}
print("Person dictionary:", person)

# Using dict() constructor
person2 = dict(name="Bob", age=30, profession="Data Scientist")
print("Person2 dictionary:", person2)

Person dictionary: {'name': 'Alice', 'age': 25, 'profession': 'Engineer'}
Person2 dictionary: {'name': 'Bob', 'age': 30, 'profession': 'Data Scientist'}

In [89]:
person = {"name": "Alice", "age": 25, "profession": "Engineer"}

# Accessing a value
print("Name:", person["name"])

# Using get() to avoid KeyError if the key doesn't exist
print("Age:", person.get("age"))
print("Salary:", person.get("salary", "Not specified"))  # Default value if key doesn't exist

Name: Alice
Age: 25
Salary: Not specified

In [93]:
person = {"name": "Alice", "age": 25}

# Adding a new key-value pair
person["profession"] = "Engineer"
print("After adding profession:", person)

# Updating an existing key
person["age"] = 26
print("After updating age:", person)

After adding profession: {'name': 'Alice', 'age': 25, 'profession': 'Engineer'}
After updating age: {'name': 'Alice', 'age': 26, 'profession': 'Engineer'}

In [95]:
person = {"name": "Alice", "age": 25, "profession": "Engineer"}

# Removing a key-value pair
del person["age"]
print("After deleting age:", person)

# Using pop() to remove and return a value
profession = person.pop("profession")
print("Popped profession:", profession)
print("After popping profession:", person)

# Using popitem() to remove and return the last inserted key-value pair
last_item = person.popitem()
print("Popped last item:", last_item)
print("After popping last item:", person)

After deleting age: {'name': 'Alice', 'profession': 'Engineer'}
Popped profession: Engineer
After popping profession: {'name': 'Alice'}
Popped last item: ('name', 'Alice')
After popping last item: {}

In [96]:
person = {"name": "Alice", "age": 25}

print("Is 'name' in the dictionary?", "name" in person)
print("Is 'salary' in the dictionary?", "salary" in person)

Is 'name' in the dictionary? True
Is 'salary' in the dictionary? False

In [99]:
dict1 = {"a": 1, "b": 2}
dict2 = {"b": 3, "c": 4}

# Using update()
dict1.update(dict2)
print("Merged dictionary (update):", dict1)

# Using | operator (Python 3.9+)
dict3 = {"a": 1, "b": 2}
merged_dict = dict3 | dict2
print("Merged dictionary (| operator):", merged_dict)

Merged dictionary (update): {'a': 1, 'b': 3, 'c': 4}
Merged dictionary (| operator): {'a': 1, 'b': 3, 'c': 4}

In [145]:
# Squares of numbers from 0 to 4
squares = {x: x**2 for x in range(5)}
print("Squares dictionary:", squares)

# Filtering even numbers
evens = {x: x**2 for x in range(10) if x % 2 == 0}
print("Even squares dictionary:", evens)

Squares dictionary: {0: 0, 1: 1, 2: 4, 3: 9, 4: 16}
Even squares dictionary: {0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [100]:
# Nested dictionary
employees = {
    "Alice": {"age": 25, "profession": "Engineer"},
    "Bob": {"age": 30, "profession": "Data Scientist"}
}

print("Employees dictionary:", employees)

# Accessing nested values
print("Alice's profession:", employees["Alice"]["profession"])

Employees dictionary: {'Alice': {'age': 25, 'profession': 'Engineer'}, 'Bob': {'age': 30, 'profession': 'Data Scientist'}}
Alice's profession: Engineer

## If-Condition

In [106]:
x = 10

if x > 5:
    print("x is greater than 5")
else:
    print("x is smaller than 5")

x is greater than 5

In [110]:
x = 7

if x > 10:
    print("x is greater than 10")
elif x == 7:
    print("x is equal to 7")
else:
    print("x is less than 10 and not equal to 7")

x is equal to 7

In [111]:
name = "Alice"

if name == "Alice":
    print("Hello, Alice!")
else:
    print("You're not Alice!")

Hello, Alice!

In [112]:
fruits = ["apple", "banana", "cherry"]

if "banana" in fruits:
    print("Yes, banana is in the fruits list")
else:
    print("No, banana is not in the fruits list")

Yes, banana is in the fruits list

In [ ]:
name = "Alice"
if name == "Alice" or name == "Bob":
    print("Logged in!")
else:
    print("Can't log in!")

Logged in!

In [118]:
age = 7
if age > 18 and age < 60:
    print("You can work!")
else:
    print("You can't work!")

You can't work!

In [ ]:
age = 20

if not age >= 18:
    print("You are not eligible to vote")
else:
    print("You are eligible to vote")

You are eligible to vote

## Loops -> for & while

In [128]:
# Example 1: Iterating over a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)  # Prints each fruit in the list

# Example 2: Iterating over a string
for letter in "Python":
    print(letter)  # Prints each letter in the string "Python"

# Example 3: Using range() to iterate a specific number of times
for i in range(5):
    print(i)  # Prints numbers from 0 to 4

# Example 4: Using range() with start and end values
for i in range(2, 6):
    print(i)  # Prints numbers from 2 to 5

# Example 5: Using range() with a step value
for i in range(1, 10, 2):
    print(i)  # Prints odd numbers from 1 to 9 (step of 2)

apple
banana
cherry
P
y
t
h
o
n
0
1
2
3
4
2
3
4
5
1
3
5
7
9

In [129]:
# Example 1: Basic while loop
count = 0
while count < 5:
    print(count)  # Prints numbers from 0 to 4
    count += 1  # Increment count by 1

# Example 2: Using a break statement to exit the loop
while True:
    user_input = input("Enter 'quit' to exit: ")
    if user_input == "quit":
        break  # Exit the loop if user enters 'quit'
    print(f"You entered: {user_input}")

# Example 3: Using a continue statement to skip an iteration
num = 0
while num < 5:
    num += 1
    if num == 3:
        continue  # Skip the rest of the loop when num is 3
    print(num)  # Prints 1, 2, 4, 5 (skips 3)

0
1
2
3
4
You entered: jnk
You entered: njnkl
You entered: jkjnnasd
You entered: jnkndasd
You entered: dasjkndkjan
1
2
4
5

In [130]:
# Example 1: Nested for loops
for i in range(3):  # Outer loop
    for j in range(2):  # Inner loop
        print(f"i = {i}, j = {j}")  # Prints all combinations of i and j

# Example 2: Nested while loop inside a for loop
for i in range(3):
    print(f"Outer loop: {i}")
    j = 0
    while j < 2:
        print(f"  Inner loop: {j}")
        j += 1

i = 0, j = 0
i = 0, j = 1
i = 1, j = 0
i = 1, j = 1
i = 2, j = 0
i = 2, j = 1
Outer loop: 0
  Inner loop: 0
  Inner loop: 1
Outer loop: 1
  Inner loop: 0
  Inner loop: 1
Outer loop: 2
  Inner loop: 0
  Inner loop: 1

In [131]:
# Example 1: Using break to exit a loop
for i in range(10):
    if i == 5:
        break  # Exit the loop when i is 5
    print(i)  # Prints numbers from 0 to 4

# Example 2: Using continue to skip an iteration
for i in range(5):
    if i == 2:
        continue  # Skip the iteration when i is 2
    print(i)  # Prints 0, 1, 3, 4

# Example 3: Using pass as a placeholder
for i in range(3):
    pass  # Do nothing (used as a placeholder)

0
1
2
3
4
0
1
3
4

In [132]:
# Example 1: else with a for loop
for i in range(3):
    print(i)
else:
    print("Loop finished!")  # Executed after the loop completes

# Example 2: else with a while loop
count = 0
while count < 3:
    print(count)
    count += 1
else:
    print("Loop finished!")  # Executed after the loop completes

# Example 3: else not executed due to break
for i in range(3):
    if i == 1:
        break  # Exit the loop
    print(i)
else:
    print("Loop finished!")  # Not executed because of the break

0
1
2
Loop finished!
0
1
2
Loop finished!
0

In [141]:
# Example 1: Create a list of squares
squares = [x for x in range(5)]
print(squares)  # Output: [0, 1, 4, 9, 16]

# Example 2: Create a list of even numbers
evens = [x for x in range(10) if x % 2 == 0]
print(evens)  # Output: [0, 2, 4, 6, 8]

# Example 3: Nested list comprehension
matrix = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
flattened = [num for row in matrix for num in row]
print(flattened)  # Output: [1, 2, 3, 4, 5, 6, 7, 8, 9]

[0, 1, 2, 3, 4]
[0, 2, 4, 6, 8]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [146]:
# Example: Iterating over two lists at the same time
names = ["Alice", "Bob", "Charlie"]
scores = [85, 90, 95]
for name, score in zip(names, scores):
    print(f"{name} scored {score}")
# Output:
# Alice scored 85
# Bob scored 90
# Charlie scored 95

Alice scored 85
Bob scored 90
Charlie scored 95

In [ ]:
for index, name in enumerate(names):    # Try start = 1
    print(index, " " ,name)

0   Alice
1   Bob
2   Charlie

In [151]:
# Example 1: Looping through keys
person = {"name": "Alice", "age": 25, "city": "New York"}
for key in person:
    print(key)  # Prints keys: name, age, city

# Example 2: Looping through values
for value in person.values():
    print(value)  # Prints values: Alice, 25, New York

# Example 3: Looping through key-value pairs
for key, value in person.items():
    print(f"{key}: {value}")
# Output:
# name: Alice
# age: 25
# city: New York

name
age
city
Alice
25
New York
name: Alice
age: 25
city: New York